.font-sizeMy{
    font-size:100px;
}
body {
    min-width: 3.20rem;
    max-width: 6.40rem;
    margin: 0 auto;
}
*{
    font-size:0.12rem;
}
img{
    border:none;
}
.fl{
    float: left;
}
.fr{
    float:right;
}
.clearflx:after{
    content: '';
    display: block;
    clear: both;
}
.box-shadow{
    -webkit-box-shadow:  0.05rem 0.05rem 0.05rem  grey;
    -moz-box-shadow: 0.05rem 0.05rem 0.05rem  grey;
    box-shadow: 0.05rem 0.05rem 0.05rem  grey;
    -webkit-border-radius:0.15rem;
    -moz-border-radius:0.15rem;
    border-radius:0.15rem;
}
.jieshao a{
display: inline-block;
float: right;
height:0.6rem;
line-height:0.6rem;
font-size:0.2rem;
color: #666;
font-weight:bold;
}
.fenjiexian{
    height:0.1rem;
    width:6rem;
    margin:0.1rem auto 0;
    background-color: #aaa;
}
.js-center{
    height:0.5rem;
    width:2.7rem;
    margin-left:-0.2rem;
    font-size:0.2rem;
    color: #666;
    font-weight:bold;
    /*background-color: #00aaff;*/
}
.u-img>li>img{
    float: left;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
}
.u-img>li>img:hover{
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}
.jieshao{
    height:0.5rem;
    width:5.8rem;
    line-height:0.5rem;
    margin:0 auto;
}
/*-------------------top-header---------------------------------*/
.gongH{
    height:0.4rem;
}
.top-header{
    position: relative;
    width:6.4rem;
    line-height:0.5rem;
    padding:0.1rem 0;
    background-color: orange;
    margin:0 auto 0.1rem;
}
.top-header .h-left{
    width:1rem;
    line-height:0.5rem;
    text-align: right;
}
.top-header .h-left .h-s-select{
    width:0.7rem;
    font-size:0.2rem;
    font-weight:bold;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    outline:none;
    background: url("../images/top-header/down.png")no-repeat center right;
    background-size: 0.19rem;
}
.top-header .h-left .h-s-select option{
    font-size:0.2rem;
    background-color: orange;
    color: #fff;
}
.top-header .h-center{
    width:4rem;
    line-height:0.4rem;
    margin-left:0.2rem;
    border:1px solid #fff;
    -webkit-border-radius:0.08rem;
    -moz-border-radius:0.08rem;
    border-radius:0.08rem;
    background: url("../images/top-header/zoom.png")no-repeat left center;
    background-size:0.36rem 0.29rem ;
}
.top-header .h-center input{
    height:0.35rem;
    width:3.5rem;
    border:none;
    outline:none;
    margin-left: 0.4rem;
    font-size:0.16rem;
    background-color: orange;
}
.top-header .h-right{
    position: absolute;
    top:50%;
    right:0.4rem;
    margin-top:-0.2rem;
    height:0.4rem;
    width:0.4rem;
    background: url("../images/top-header/saoma.png");
    background-size:0.41rem;
}
/*-------------------end top-header---------------------------------*/

/*--------------------box-1 轮播图----------------------------------*/
.swiper-container{
    height:3rem;
    width:6.4rem;
}
.swiper-container img{
    height:3rem;
    width:6.4rem;
}
/*--------------------end box-1 轮播图----------------------------------*/
/*---------------------mid-banner 小导航--------------------------------*/
.swiper-container1{
    height:3.62rem;
    width:6.4rem;
    margin-top:0.5rem;
    overflow: hidden;
}
.container .mid-banner{
    height:3.62rem;
    width:6.4rem;
}
.container .mid-banner ul{
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
    height:3.62rem;
    width:6.4rem;
    margin-top:0.2rem;
    background: #fff;
}
.container .mid-banner ul li{
    height:1.33rem;
    width:0.93rem;
    margin: 0 auto 0.3rem;
    padding-top:0.2rem;
}
.container .mid-banner ul li img{
    height:0.93rem;
    width:0.93rem;
    margin-bottom:0.1rem;
}
.container .mid-banner ul li span{
    display: inline-block;
    width:0.93rem;
    text-align: center;
    font-size:0.2rem;//------------------------------------------------------------------------------------------------------------------------------------------
    color: #000;
    font-weight:bold;
}
/*--------------------- end mid-banner 小导航--------------------------------*/
/*--------------------- con-2-小导航--------------------------------*/
.con-2{
    height:4.3rem;
    width:6.4rem;
}
.con-2 .jieshao .js-center>span{
    color:red;
    font-size:0.2rem;
    font-weight:bold;
}
.con-2 .c-mid-banner{
    height:3.2rem;
    width:6.4rem;
}
.c-mid-banner ul{
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
    height:3.5rem;
    width:6.4rem;
    margin-top:0.2rem;
    padding-top:0.2rem;
}
 .c-mid-banner ul li{
    height:1.6rem;
    width:1.3rem;
     margin-left:0.1rem;
     padding-top:0.15rem;
}
 .c-mid-banner ul li img{
    height:1.1rem;
    width:1.3rem;
    margin-bottom:0.1rem;
}
.c-mid-banner ul li span{
    display: inline-block;
    width:1.3rem;
    text-align: center;
    font-size:0.2rem;//---------------------------------------------------------------------------------------------------------------------------------------
    color: #aaa;
    font-weight:bold;
}

/*--------------------- end con-2-小导航--------------------------------*/
/*--------------------- con-3-小导航--------------------------------*/

.con-3{
    height:4.52rem;
    width:6.4rem;
}
.con-3 .c-mid-banner{
    height:3.2rem;
    width:6.4rem;
}
.con-3 .c-mid-banner ul{
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
    height:3.4rem;
    width:6.4rem;
    margin-top:0.1rem;
    padding-top:0.2rem;
}
.con-3 .c-mid-banner ul li{
    height:1.38rem;
    width:1.3rem;
    margin-left:0.1rem;
    margin-bottom:0.21rem;
    padding-top:0.09rem;
    border-bottom:0.02rem solid #aaa;
}
.con-3 .c-mid-banner ul li img{
    height:1.1rem;
    width:1.3rem;
    margin-bottom:10px;
}

/*--------------------- end con-3-小导航--------------------------------*/
/*--------------------- con-4-小导航--------------------------------*/


.con-4{
    height:4.52rem;
    width:6.4rem;
}
 .jieshao>span{
    display: inline-block;
    float: left;
    height:0.5rem;
    width:2rem;
    text-indent:0.1rem;
    font-size:0.2rem;
    color: #666;
    font-weight:bold;
    border:0.05rem solid transparent;
    border-left-color:red;
}

.con-4 .c-mid-banner-4{
    height:3.2rem;
    width:6.4rem;
}
.con-4>.c-mid-banner-4>ul{
    height:4.68rem;
    width:6.4rem;
    margin-top:0.3rem;
}
.con-4>.c-mid-banner-4>ul>li{
    height:1.35rem;
    width:6.4rem;
    margin-bottom:0.3rem;
    border-bottom:1px solid  #aaa;
}
.con-4>.c-mid-banner-4>ul>li>img{
    height:1.35rem;
    width:2rem;
}
.con-4>.c-mid-banner-4>ul>li>img:hover{
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
.con-4>.c-mid-banner-4>ul>li>article{
    float: right;
    height:1.2rem;
    width:4rem;
}
.con-4>.c-mid-banner-4>ul>li>article>section{
    height:0.4rem;
    width:4rem;
    line-height:0.4rem;
}
.con-4>.c-mid-banner-4>ul>li>article>section>h2{
     float: left;
     height:0.4rem;
     line-height:0.4rem;
     font-size:0.2rem;
    color: #666;
 }
.con-4>.c-mid-banner-4>ul>li>article>section:nth-of-type(3)>h2{
    color: red;
}
.con-4>.c-mid-banner-4>ul>li>article>section>p{
    height:0.4rem;
    line-height:0.4rem;
    font-size:0.16rem;
    color: #666;
    text-align: right;
}
/*--------------------- end con-4-小导航--------------------------------*/
/*--------------------- footer--------------------------------*/
footer{
    clear: both;
    width:6.4rem;
    height:0.5rem;
    font-size:0.2rem;
    color: #666;
    font-weight:bold;
    padding:0.3rem 0;
    margin-bottom:1rem;
    cursor: pointer;
    line-height:0.5rem;
    text-align: center;
}
/*--------------------- end footer--------------------------------*/
/*--------------------- nav--------------------------------*/
nav{
    position: fixed;
    bottom:0;
    left:auto;
    height:1rem;
    width:6.4rem;
    z-index: 100;
    background-color: orange;
}
nav ul{
    display: flex;
    justify-content:space-around;
    height:0.7rem;
    width:6.4rem;
    margin-top:0.2rem;
}
nav ul li{
    height:0.7rem;
    width:0.8rem;
    text-align: center;
}
nav>ul>li>img{
    height:0.4rem;
}
nav ul li p{
    color: #fff;
    font-size:0.2rem;
    font-weight:bold;
}
/*--------------------- end nav--------------------------------*/

